{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li style="display: flex;">
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item" style="display: flex;">
					<h5>{{ venue.name }}</h5>

					<span style="margin-left: 10px;" class="badge">{{ venue.num_upcoming_shows }}</span>
				</div>
			</a>

			<button data-id="{{ venue.id }}" data-name="{{ venue.name }}" class="btn btn-link btn-venue-delete" type="button"><i data-id="{{ venue.id }}" data-name="{{ venue.name }}"	 class="fa-solid fa-trash"></i></button>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
	$( document ).ready(function() {
		$('.btn-venue-delete').click(function({target}) {
			name = target.dataset['name']

			alertify.confirm('Delete Venue?', `Are you sure to delete ${name}? This action is irreversible`
				, async function() { 
					id = target.dataset['id']

					const res = await axios.delete(`/venues/${id}`);

					const data = res.data.json;

					if (res.data.state) location.href = "/"
					else alertify.error('An error has occurred!')

				}, function(){ });
		});
	});
</script>
{% endblock %}